keybinds {
    shared_except "locked" {
	bind "Ctrl x" { CloseFocus; SwitchToMode "Normal"; }
	bind "Alt x" { CloseFocus; SwitchToMode "Normal"; }
    	bind "Alt t" { NewTab; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}
theme "catppuccin-mocha"
