keybinds {
    unbind "Ctrl h"
    shared_except "locked" {
	bind "Alt x" { CloseFocus; SwitchToMode "Normal"; }
    	bind "Alt t" { NewTab; }
    }
    move {
	bind "Ctrl x" { SwitchToMode "Normal"; }
    }
    shared_except "move" "locked" {
	bind "Ctrl x" { SwitchToMode "Move"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}
theme "catppuccin-mocha"

session_serialization false
